@import url(responsive.css);


@font-face {
    font-family: Plus Jakarta Sans;
    src: url(../font/PlusJakartaDisplay-Bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;800&display=swap');


:root {
    --main-color: #0C646D;
    --light-color: #5E5550;
    --dark-color: #190C05;
    --nav-link-color: #190C05C7;
}

/* start of Common Style Code */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {
    list-style: none;
    text-decoration: none;
}

.btn {
    background: #0C646D;
    padding: 16px 27px;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

/* End of Common Style Code */

.container {
    width: 1140px;
    /* background: navy; */
    margin: 0 auto;
}

.cards,.home__container,.service__content{
    overflow: hidden;
}

.contact__text,.ftr-link{
    overflow: hidden;
}

/* Start of Header Style Code */
.header {
    margin-top: 40px;
    transition: all 0.4s;
}

.navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 140%;
    color: var(--main-color);
}

.navbar__link {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: var(--nav-link-color);
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: all 0.3s;
}

.navbar__link:hover {
    color: var(--main-color);
    font-weight: bold;
}

.navbar__item {
    margin: 0px 24px;
}

.navbar__item:first-child {
    margin-left: 0;
}

.navbar__item:last-child {
    margin-right: 0;
}

.contact__btn {
    font-family: Plus Jakarta Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--main-color);
    padding: 14.5px 33.5px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    background: white;
}

.burger-icon {
    display: none;
    z-index: 9;
}

.burger-icon-act{
    position: fixed;
    right: 25.14px;
}

/* End of Header Style Code */

/* Start of Burger  Menu Style Code */

    .burger-menu{
        display: none;
    }

    .burger-menu-act{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    .burger-top{
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        background: var(--main-color);
        transition: all 0.4s;
    }

    .burger-top-norm{
        top: -100%;
        height: 0;
    }

    .burger-top-act{
        top: 0;
        height: 50%;
        transition: all 0.4s;
    }

    .burger-bottom{
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        background: var(--main-color);
        transition: all 0.4s;
    }

    .burger-bottom-norm{
        bottom: -100%;
        height: 0;
    }

    .burger-bottom-act{
        bottom: 0;
        height: 50%;
        transition: all 0.4s;
    }

    .burger-img{
        width: 40px;
        height: 40px;
    }

    .burger-img-act{
        transform: scale(0.7); 
    }

    .burger-top,.burger-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-top{
        justify-content: flex-end;
    }

    .burger-bottom{
        justify-content: flex-start;
    }

    .burger-link{
        color: white;
        font-size: 20px;
        padding: 15px 0;
        transition: all 0.5s;
        width: 100%;
        text-align: center;
    }

    .burger-link:hover{
        display: block;
        background: white;
        color: var(--main-color);
        text-align: center;
    }

    .header-act{
        height: 44px;
        display: flex;
        align-items: center;
    }

/* End of Burger Menu Style Code */


/* Start of Home Style Code */
.home {
    margin-top: 94px;
}

.home__content {
    display: flex;
    justify-content: space-between;
}

.home__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__title {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 150%;
    color: var(--dark-color);
}

.home__info {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 180%;
    color: #5E5550;
}

.home__btn {
    margin-top: 40px;
}

.home__btn:hover .arrow-up{
    left: 3px;
    bottom: 3px;
}

.home__btn img {
    transition: all .2s;
    left: 0;
    bottom: 0;
    padding: 6px;
    margin-left: 8px;
    position: relative;
}

.home__img {
    width: 100%;
    margin-top: 50px;
    background: #C4C4C4 !important;
}

/* End of Home Style Code */



/* Start of Service Style Code */

.service {
    margin-top: 150px;
    overflow: hidden;
}

.service__title,
.planing__title {
    font-family: Nunito Sans;
    font-weight: 800;
    font-size: 54px;
    line-height: 74px;
    color: #190C05;
    text-align: left;
}

.service__content {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.service__box {
    width: calc(100% / 3)px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}


.service__text {
    text-align: left;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #5E5550;
}

.service__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 12px;
}

.service__box h4 {
    margin-bottom: 20px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #190C05;
}

/* End of Service Style Code */


/* Start of Planing Style Code */

.planing {
    margin-top: 166px;
}

.planing__title {
    margin-bottom: 30px;
}

.planing__wrapper {
    display: flex;
    justify-content: space-between;
}

.planing__img {
    overflow: hidden;
}

.planing__right img {
    transition: all 0.5s;
    overflow: hidden;
}

.planing__right img:hover {
    transform: scale(1.3);
}

.planing__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px;
}

.planing__heading {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #190C05;
}

.step {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #0C646D;
    margin-top: 8px;
    margin-bottom: 20px;
}

.planing__info {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #5E5550;
    text-align: left;
}

.planing__left {
    margin-right: 101px;
}


/* End of Planing Style Code */



/* Start of Projects Style Code */

.project {
    margin-top: 150px;
}

.project__top {
    display: flex;
    justify-content: space-between;
}

.project__heading {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 79px;
    color: #190C05;
}

.project__btn {
    padding: 16px 68px;
    margin-bottom: 20px;
}

.cards {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    width: calc(100% / 3)px;
    margin: 0 12px;
    transition: all 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
}


.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card:hover {
    filter: drop-shadow(3px 12px 40px rgba(0, 0, 0, 0.3));
}

.card:hover .card__info {
    opacity: 1;
}

.card__info {
    position: absolute;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s;
}

.author {
    text-align: center;
    bottom: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    z-index: 4;
}

.design {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    z-index: 4;
    margin-bottom: 4px;
}

/* End of Projects Style Code */


/* Start of Contact Style Code */

.mbc {
    display: none;
}

.contact {
    margin-top: 150px;
    background: url(../img/Group.svg) var(--main-color);
    background-position: center;
    padding: 104px 0;
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 79px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contact__text {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

/* End of Contact Style Code */




/* Start of Footer Code */

footer {
    padding: 40px 0;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.follow {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--dark-color);
    margin-bottom: 20px;
}

.social__list {
    display: flex;
    justify-content: space-between;
}

.social__item {
    margin-left: 10px;
    margin-right: 10px;
}

.social__link {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.social__link i {
    color: var(--main-color);
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 44px;
    margin-bottom: 30px;
    background: rgba(75, 81, 87, 0.3);
}


.ftr-nav {
    /* margin-bottom: 30px; */
}

.ftr-nav-list {
    display: flex;
    justify-content: center;
}


.ftr-link {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    color: var(--dark-color);
    margin: 0 24px;
}

.copyright {
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    color: var(--dark-color);
    margin-top: 30px;
}

/* end of Footer Code */